<app-cabecalho />
<h2>Corpo da página</h2>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent efficitur auctor magna at hendrerit. Nam iaculis gravida lectus eget pretium. Aliquam consequat luctus metus. Cras mattis efficitur vulputate. Nulla ac turpis orci. Maecenas ornare rhoncus felis, eget pretium enim convallis nec. Maecenas metus sapien, pharetra nec facilisis nec, tempus et metus. Fusce nulla nunc, aliquam non facilisis sed, imperdiet quis justo. Quisque sollicitudin risus vel augue maximus, sit amet molestie nunc consequat. Nunc rhoncus fringilla quam venenatis lobortis.
</p>

<app-rodape />
